@page "/EmployeeOverview"

@attribute [Authorize]

<PageTitle>@_pageTitle</PageTitle>

<h2>Employee Overview</h2>

@if (Employees == null)
{
    <p>Loading....</p>
}
else
{
    <h4>@_title</h4>

    <p>&nbsp;</p>

    <p class="small m-0">sending Hello World as an arg to the component's property</p>
    <Message MessageContent="Hello World!" />

    <p>&nbsp;</p>

    <h4>Test message: @_triggerMsg</h4>

    @*example of child calling a method of a parent*@
    <Counter UpdateOverviewMessage="UpdateMessageOnOverview" />

    <p>&nbsp;</p>

    <p><small>[placeholder for modal]</small></p>
    <QuickViewPopUp Employee="_selectedEmployee" />

    <div class="row">
        @foreach (var emp in Employees)
        {
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                <ErrorBoundary>
                    <ChildContent>
                        <EmployeeCard Employee="emp" EmployeeQuickViewClickedFromCard="ShowQuickViewPopUpFromOverview" />
                    </ChildContent>
                    <ErrorContent>
                        <p>Not good employee</p>
                    </ErrorContent>
                </ErrorBoundary>
            </div>
        }
    </div>

    <hr />

    <div>
        The date & time is @_dateTime.
    </div>

    <div>
        <button class="btn btn-info" id="btnTest" @onclick="UpdateDateTime">
            Update Time
        </button>
    </div>

    <hr />

    <h4 class="mt-3">@_btnMessage</h4>

    <p>Loop of buttons showing that we can pass event arsg of select button to single event handler...</p>
    @for (int i = 0; i < 3; i++)
    {
        int buttonNumber = i;
        <div class="p-3">

            @*this is an example of how pass more than one arg*@
            <button class="btn btn-primary" id="btnTest" @onclick="(e => UpdateBtnMessage(e, buttonNumber))">
                Test Button @i
            </button>
        </div>
    }

    <div>
    @code{ string test = "hello world... from the button click"; }
    <button class="btn btn-warning" @onclick="(e => MultipleArgsTest(e, test))">
        Button w/ multiple args
    </button>

    <p>&nbsp;</p>

    <p>&nbsp;</p>

</div>
}


